<main>
<%# Gold Rain Animation Partial
    Usage: Include this partial in level up page to show gold coin rain effect
%>
<div class="pcoin-rain">
  <%# Using external CDN coin image from CodePen - replace with local asset if desired %>
  <img src="//cdn04.pinkoi.com/pinkoi.site/my_membership/ic_pcoins.svg" alt="Gold coin">
  <img src="//cdn04.pinkoi.com/pinkoi.site/my_membership/ic_pcoins.svg" alt="Gold coin">
  <img src="//cdn04.pinkoi.com/pinkoi.site/my_membership/ic_pcoins.svg" alt="Gold coin">
  <img src="//cdn04.pinkoi.com/pinkoi.site/my_membership/ic_pcoins.svg" alt="Gold coin">
  <img src="//cdn04.pinkoi.com/pinkoi.site/my_membership/ic_pcoins.svg" alt="Gold coin">
  <img src="//cdn04.pinkoi.com/pinkoi.site/my_membership/ic_pcoins.svg" alt="Gold coin">
  <img src="//cdn04.pinkoi.com/pinkoi.site/my_membership/ic_pcoins.svg" alt="Gold coin">
  <img src="//cdn04.pinkoi.com/pinkoi.site/my_membership/ic_pcoins.svg" alt="Gold coin">
</div>
</main>