<main>
  <div class="container text-center">
    <h5 class= mb-4>Every decision shapes your path to mastery.</h5>
    <div class="overlay-header mb-4">
      <% if @user&.level&.name&.include?("1") %>
        <%= image_tag "icon_level1.png", alt: "Level 1", class: "img-fluid mb-3", style: "max-width: 150px;" %>
      <% elsif @user&.level&.name&.include?("2") %>
        <%= image_tag "icon_level2.png", alt: "Level 2", class: "img-fluid mb-3", style: "max-width: 150px;" %>
      <% elsif @user&.level&.name&.include?("3") %>
        <%= image_tag "icon_level3.png", alt: "Level 3", class: "img-fluid mb-3", style: "max-width: 150px;" %>
      <% else %>
        <%= image_tag "wizard.png", alt: "Wealth Wizard", class: "img-fluid mb-3", style: "max-width: 150px;" %>
      <% end %>
    </div>
  </div>
</main>
