.btn-primary {
  color: $gold !important; // forces text color
}

.button-gold {
  background-color: $gold;  // button background
  color: $old-money-green;  // text color
  border-radius: 0.5rem;
  font-family: $body-font;
  font-weight: 600;
  padding: 0.3rem 1.2rem;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($gold, 10%);    // hover background
    color: $old-money-green;                       // hover text color
    border-color: lighten($gold, 10%);        // hover border
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
