.navbar-lewagon {
  justify-content: space-between;
  background: $old-money-green;
  padding: 0; // removes extra space
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
  width: auto;
}
