.navbar-ww {
  justify-content: space-between;
  background: $old-money-green;
  padding: 0; // removes extra space
  height: 80px; // adjusted to actual navbar height
  border-top: 1px solid $gold;
  // fixes navbar on the top
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; // ensure it stays above content
}

.navbar .navbar-brand img {
  height: 80px;
  width: auto;
}

.navbar-ww .navbar-collapse {
  justify-content: flex-end;
}

// center the icon
.navbar-ww .navbar-nav {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
}

// icons for navbar
.navbar-ww img {
  height: 40px;
  width: auto;
}

// Custom link
.nav-link {
  color: $gold !important; // or any color value like #d4af37
}

.nav-link:hover,
.nav-link:focus {
  color: lighten($gold, 10%) !important;
}

// Custom dropup styling
.custom-dropup {
  background-color: $old-money-green;
  color: $ivory-ledger;
}

.custom-dropup .dropdown-item:hover {
  background-color: $hover-green;
}


.progressbar {
  justify-content: space-between;
  background: $old-money-green;
  padding: 0; // removes extra space
  height: 60px;
  border-bottom: 1px solid $gold;
  // fixes navbar on the bottom
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1030; // ensure it stays above content
}

.progressbar .progressbar-collapse {
  flex-grow: 0;
}

.progressbar .progressbar-brand img {
  height: 60px;
  width: auto;
}
